/* line 1, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/base/_reset.scss */
body {
  font-size: 16px;
  margin: 0;
  font-family: 'Montserrat', Helvetica;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

/* line 1, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("road.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* line 13, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.bg:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 22, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.hero {
  width: 100%;
  text-align: center;
  color: #fff;
  left: calc(50% - 240px);
  top: calc(30%);
  position: absolute;
  width: 480px;
}

/* line 31, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.hero h1 {
  font-family: 'Righteous', Helvetica;
  font-size: 48px;
  margin: 0 0 10px 0;
}

/* line 37, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.hero h5 {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}

/* line 43, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.hero .subtle-text {
  color: #E4E4E4;
}

/* line 47, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.hero .search-container {
  margin-top: 30px;
}

/* line 52, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.app-container {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 200px);
  width: 400px;
}

/* line 58, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.app-container div {
  width: 150px;
  height: 50px;
  display: inline-block;
  background-size: 100% 100%;
}

/* line 64, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.app-container div:first-child {
  background-image: url("google-app.png");
  margin-right: 100px;
}

/* line 69, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_landing.scss */
.app-container div:last-child {
  background-image: url("apple-app.png");
}

/* line 1, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_search.scss */
.country-image {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 7, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_search.scss */
.country-image img {
  width: 100%;
  margin-top: -450px;
  -webkit-filter: blur(2px);
}

/* line 13, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_search.scss */
.country-image .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

/* line 22, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_search.scss */
.country-image h1 {
  position: absolute;
  top: 41%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', Helvetica;
  font-size: 48px;
}

/* line 34, /Users/KoltonG/Code/Personal/wandr/app/public/stylesheets/pages/_search.scss */
.result-container {
  height: calc(100% - 150px);
  background-color: #F4F4F4;
  text-align: center;
  padding-top: 30px;
}
